WcfService_IIS/SrvcConsumer/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService_IIS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService_IIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfJobOpening">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpening" nillable="true" type="tns:JobOpening" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpening" nillable="true" type="tns:ArrayOfJobOpening" />
  <xs:complexType name="JobOpening">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpening" nillable="true" type="tns:JobOpening" />
</xs:schema>